body{
    background-color: #94B49F;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #FCF8E8;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FCF8E8;
}
footer{
    position: fixed;
}
h2{
    text-align: center;
}
td span{
  background-color: pink;
}